@import "tailwindcss";

@theme {
  --color-primary: #0F172A;
  --color-primary-foreground: #FFFFFF;
  --color-accent: #3B82F6;
  --color-accent-foreground: #FFFFFF;
}

body {
  @apply bg-[#F1F4F5] text-slate-900 antialiased;
  min-height: 101vh;
}
